/* Misalnya, menggunakan font "Roboto" */
/* Font.css */
a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    text-decoration: none;
    color: #000; /* Ganti dengan warna yang Anda inginkan saat dihover */
  }
  
  body {
      font-family: 'Roboto', sans-serif;
    }
    

/* CSS di dalam file terpisah atau dalam komponen jika Anda menggunakan CSS Modul */
.center-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
  }
  
  .center-nav .nav-link {
    color: #333; /* Warna teks default */
    transition: color 0.2s ease-in-out; /* Efek transisi perubahan warna */
  }
  
  .center-nav .nav-link:hover {
    color: #000; /* Warna teks saat di-hover */
  }
  